geopandas>=1.0.1
h5py>=3.12.1
loguru>=0.7.2
numpy>=2.2.2
pandas>=2.2.3
pydantic>=2.10.6
rasterio>=1.4.2
scikit-learn>=1.6.1
Shapely>=2.0.6
SQLAlchemy>=2.0.37
toml>=0.10.2
torch>=2.5.0
torchvision>=0.20.0
tqdm>=4.66.5
