astropy>=6.1.6
dash>=2.18.2
dash_bootstrap_components>=1.6.0
geopandas>=1.0.1
h5py>=3.12.1
loguru>=0.7.2
matplotlib>=3.10.0
numpy>=2.2.1
pandas>=2.2.3
plotly>=5.24.1
pydantic==2.9.2
rasterio>=1.4.2
scikit_activeml>=0.5.2
scikit_learn>=1.6.0
Shapely>=2.0.6
torch>=2.5.0
torchvision>=0.20.0
tqdm>=4.66.5
